<!DOCTYPE html>
<html>
<head>
  <title>Library Management System</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <h1>Welcome to the Library Management System <%= @user %></h1>
  <p>You have successfully signed up!</p>
</body>
</html>
