<div class="book_details">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="book-image">
          <% if @book.image_url.present? %>
            <%= image_tag @book.image_url, class: 'img-fluid', alt: @book.name %>
          <% else %>
            <img src="default_image_url" class="img-fluid" alt="No Image Available">
          <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <h1><%= @book.name %></h1>
        <p>Tác giả: <strong><%= @book.author.name %></strong></p>
        <p>Nhà xuất bản: <strong><%= @book.publisher.name %></strong></p>
        <p>Năm Xuất Bản: <%= @book.publication_year %></p>
        <p class="price"><%= @book.price %>$</p>
        <div class="btn-borrow">
          <%= link_to 'Mượn Sách', root_path, class: 'borrow-button' %>
        </div>
        <h1>Mô tả sản phẩm</h1>
        <div class="book-description" id="book-description"><%= simple_format(@book.description) %></div>
        <button id="toggle-description" class="btn btn-secondary">Xem thêm</button>
      </div>
    </div>
  </div>

  <div class="comments-section mt-4">
    <h2>NHẬN XÉT CỦA KHÁCH HÀNG</h2>
    <% unless logged_in? %>
      <p>Bạn cần đăng nhập để có thể bình luận. <%= link_to 'Đăng nhập tại đây.', login_path %></p>
    <% end %>
    <% if @book.comments.any? %>
      <% @book.comments.each do |comment| %>
        <div class="comment">
          <p><strong><%= comment.user.name %>:</strong> <%= comment.content %></p>
        </div>
      <% end %>
    <% else %>
      <p>Chưa có đánh giá</p>
    <% end %>
  </div>
</div>
